<!-- Utilizamos las propiedades de flask "extends", para poder heredar las propiedades del archivo principal base 
que contiene los links principales del javaScripts y Css, para brindar los estilos a los demas modulos
-->
{%extends './base.html' %}

<!-- En esta sección personalizamos el titulo correspondiente a cada modulo en el que nos encontremos-->
{%block title%}Pagina principal.{%endblock%}

<!-- Utilizando las propiedades block, definiendo el la sección body, podemos insertar la estructura principal html, para 
poder personalizar y ahorrar lineas de codigo en los modulos
-->
{%block body%}

<!-- Inicio contenido principal del modulo "home"-->
<body class="bodyPrincipal">

    <!-- Contenido principal "En desarrollo..."-->
    <div class="container1">
        <p class="P1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore ab,
            a placeat, magnam quo quae assumenda voluptates animi possimus at pariatur odio,
            excepturi officiis voluptatem laboriosam ipsum similique laborum! Non.</p>
    </div>
</body>
<!-- Fin contenido principal del modulo "home"-->

{%endblock%}