/*=====================================
estilos generales
=====================================*/
.bodyPrincipal{
    background-color: rgb(233, 236, 238);
}
.container1{
    height: 100vh;
}
.container2{
    position: relative;
    height: 120vh;
}

.P1{
    padding-top: 7rem;
    margin-left: 15%;
    color: rgb(0, 0, 0);
    width: 70%;
    text-align: justify;
}
/*Inicio sección Navbar principal*/
.navbarPrincipal{
    width: 100%;
    position: fixed;
    z-index: 2;
}

.navbar {
    background-image: linear-gradient(45deg,  #a5c8ff, #8b89fc);
    height: fit-content;
}

#sectionNavbar {
    border-radius: 0.4rem;
}
#sectionNavbar:hover {
    color: #fff;
    background: #4f72a7 !important;
    border-color: #241f5f;
}

#botonCerrar {
    margin-top: -1px;
    background: none;
    border-color: none;
    margin-left: 0.5rem;
    border-radius: 0.4rem;
}

#botonCerrar:hover{
    color: #fff;
    background: #4f72a7 !important;
    border-color: #241f5f;
}
/*Fin sección Navbar principal*/

#botonDescargar {
    color: black;
    margin-top: -1px;
    background: none;
    border-color: none;
    margin-left: 0.5rem;
    border-radius: 0.4rem;
    width: 9rem;
    margin: auto;
}

#botonDescargar:hover{
    color: #fff;
    background: #91b2e4 !important;
    border-color: #241f5f;
}
.dropdownAyuda{
    margin-top: -1px;
    width: 9rem;
    margin: auto;
}

/**/
.containerViewProfile{
    margin: auto;
    padding-top: 1rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.view-pdf{
    width: 640px; 
    height: 480px;
}

/*Inicio sección Footer principal*/
#container-footer{
    background-color: #d6d3fc !important;
}
.content-footer{
    text-align: center;
}
.content-footer .icono{
    text-decoration: none;
    color: rgb(34, 34, 34);
}

.content-footer .icono:hover{
    color: #2785ff;
}
/*Fin sección Footer principal*/


@media (max-width: 750px) {
    #botonCerrar {
        width: 18%;
    }
}