<!-- Utilizamos las propiedades de flask "extends", para poder heredar las propiedades del archivo principal base 
que contiene los links principales del javaScripts y Css, para brindar los estilos a los demas modulos
-->
{%extends './base.html' %}

<!-- En esta sección personalizamos el titulo correspondiente a cada modulo en el que nos encontremos-->
{%block title%} Perfil de Usuario. {%endblock%}

<!-- Utilizando las propiedades block, definiendo el la sección body, podemos insertar la estructura principal html, para 
poder personalizar y ahorrar lineas de codigo en los modulos
-->
{%block body%}
<!-- <a id="boton-cerrarSesión" class="btn btn-secondary"href="{{ url_for('logout') }}">Cerrar sesión</a> -->

<!-- Sección principal del modúlo de perfil de usuario -->

<body class="bodyPrincipal">
    <!-- Contenedor principal del modulo -->
    <div class="container1">
        <!-- Sección de perfil, donde observaremos los datos del usuario, junto con su nombre y foto de perfil -->
        <section class="seccion-perfil-usuario">
            <!-- Body o cuerpo de la sección principal de perfil de usuario -->
            <div class="perfil-usuario-body">
                <!-- Sección de header o encabezado donde se observa el nombre, foto y botón para editar datoss del usario -->
                <div class="perfil-usuario-bio">
                    <!-- Division que contiene la foto de perfil del usario-->
                    <div class="perfil-usuario-avatar">
                        <img src="static/img/avatars/{{ current_user.Nombre_img}}"
                            alt="img-avatar">
                        <button type="button" class="boton-avatar">
                            <i class="fas fa-image"></i>
                        </button>
                    </div>
                    <!-- Fin division que contiene la foto de perfil del usario-->

                    <!-- Titulo donde encontramos el nombre del usario-->
                    <!-- Se usa current, como funcion del modulo user, dentro de corchetes dobles, que es la sintaxis ofrecida por flask, para 
                    poder obtener el nombre del usuario por medio de la función llamada: "fullname", definida em la carpeta "models/entities", en el modulo de "User"
                    la cual contiene los parametros de los datos de el usario por medio de consulta sql dictaminada en el aparado de "ModelsUser"-->
                    <h3 class="titulo">{{ current_user.fullname}}

                        <!-- Botón para acceder al modal, que contiene la sección principal para la actualización de datos del usario -->
                        <button type="button" class="boton-edit" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <i class="fas fa-pencil-alt"></i>
                        </button>
                    </h3>
                    <!-- Fin Titulo donde encontramos el nombre del usario-->
                    <p class="texto">
                    </p>
                </div>
                <!-- Fin sección de header o encabezado donde se observa el nombre, foto y botón para editar datoss del usario -->

                <!-- Sección del footer del apartado de los datos del usario donde se encuentran todos los datos de este mismo -->
                <div class="perfil-usuario-footer">
                    <!-- De igual manera usamos current con los mismo objetivos y caracteristicas explicadas anteriormente para
                    el resto de datos del usuario-->
                    <ul class="lista-datos">
                        <li><i class="icono fas fa-map-signs"></i>{{ current_user.Direccion}}.</li>
                        <li><i class="icono fas fa-phone"></i>{{ current_user.Telefono}}.</li>
                        <li><i class="icono fas fa-briefcase"></i>{{ current_user.Empresa}}.</li>
                        <li><i class="icono fas fa-building"></i>{{ current_user.Cargo}}.</li>
                    </ul>
                    <ul class="lista-datos">
                        <li><i class="icono fas fa-map-marker-alt"></i>{{ current_user.Area}}.</li>
                        <li><i class="icono fas fa-calendar-alt"></i>{{ current_user.Fecha_nacimiento}}.</li>
                        <li><i class="icono fa-solid fa-id-card"></i>{{ current_user.NDI}}.</li>
                        <li><i class="icono fa-solid fa-envelope"></i>{{ current_user.Email}}</li>
                    </ul>
                </div>
                <!-- Fin sección del footer del apartado de los datos del usario donde se encuentran todos los datos de este mismo -->
            </div>
            <!-- Fin body o cuerpo de la sección principal de perfil de usuario -->
        </section>
        <!-- Fin sección de perfil, donde observaremos los datos del usuario, junto con su nombre y foto de perfil -->

        <!-- Inicio de modal o sección que contiene formulario para actualizar datos del usario -->
        <!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">{{current_user.fullname}}</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/edit" method="post">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <label>NDI</label>
                        <input type="text" class="form-control mb-3" name="NDI" value="{{current_user.NDI}}">
                        <label>Name</label>
                        <input type="text" class="form-control mb-3" name="fullname" value="{{current_user.fullname}}">
                        <label>Password</label>
                        <input type="text" class="form-control mb-3" name="password" value="{{current_user.password}}">  

                        <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
              </div>
            </div>
        </div> -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Encabezado del modal donde tenemos el titulo de "Actualizar datos" -->
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Actualizar datos</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <!-- Cuerpo del modal donde encontramos el formualrio con los datos del usario -->
                    <div class="modal-body">
                        <form action="/edit" method="POST" enctype="multipart/form-data">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <label for="">Nombre completo</label>
                            <input type="text" class="form-control mb-3" name="fullname" value="{{current_user.fullname}}">
                            <label for="">Direccion</label>
                            <input type="text" class="form-control mb-3" name="Direccion" value="{{ current_user.Direccion}}">
                            <label for="">Telefono</label>
                            <input type="text" class="form-control mb-3" name="Telefono" value="{{ current_user.Telefono}}">
                            <label for="">Cargo</label>
                            <input type="text" class="form-control mb-3" name="Empresa" value="{{ current_user.Empresa}}">
                            <label for="">Empresa</label>
                            <input type="text" class="form-control mb-3" name="Cargo" value="{{ current_user.Cargo}}">
                            <label for="">Area locativa</label>
                            <input type="text" class="form-control mb-3" name="Area" value="{{ current_user.Area}}">
                            <label for="">Fecha de nacimiento</label>
                            <input type="text" class="form-control mb-3" name="FDN" value="{{ current_user.Fecha_nacimiento}}">
                            <label for="">Número de documento</label>
                            <input type="text" class="form-control mb-3" name="NDI" value="{{ current_user.NDI}}">
                            <label for="">Correo electronico</label>
                            <input type="text" class="form-control mb-3" name="Email" value="{{ current_user.Email}}">

                            <!-- Botón donde podremos subir el archivo con la foto del perfil -->
                            <div class="mb-3">
                                <label for="formFileSm" class="form-label"></label>
                                <input class="form-control form-control-sm" id="formFileSm" type="file" name="archivo">
                            </div>
                            <div class="modal-footer">
                                <!-- Botón para cancelar o cerrar el modal-->
                                <button type="button" class="btn btn-secondary"
                                    data-bs-dismiss="modal">Cancelar</button>

                                <!-- Botón para guardar cambios y actualizar datos-->
                                <button type="submit" class="btn btn-primary">Guardar cambios</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fin de modal o sección que contiene formulario para actualizar datos del usario -->

    </div>
    <!-- Fin contenedor principal del modulo -->
</body>
{%endblock%}