{%extends './base.html' %}

{%block body%}
<!-- <a id="boton-cerrarSesión" class="btn btn-secondary"href="{{ url_for('logout') }}">Cerrar sesión</a> -->

<body class="bodyPrincipal">

    <!-- header -->

    <!-- end header -->
    <div class="container1">
        <section class="seccion-perfil-usuario">
            <div class="perfil-usuario-body">
                <div class="perfil-usuario-bio">
                    <div class="perfil-usuario-avatar">
                        <img src="https://studiosol-a.akamaihd.net/uploadfile/letras/fotos/7/6/5/a/765afb557fabd371fd0a3ba386728100.jpg"
                            alt="img-avatar">
                        <button type="button" class="boton-avatar">
                            <i class="fas fa-image"></i>
                        </button>
                    </div>
                    <h3 class="titulo">{{ current_user.fullname}}
                        <button type="button" class="boton-edit" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <i class="fas fa-pencil-alt"></i>
                        </button>
                    </h3>
                    <p class="texto">
                    </p>
                </div>
                <div class="perfil-usuario-footer">
                    <ul class="lista-datos">
                        <li><i class="icono fas fa-map-signs"></i>{{ current_user.Direccion}}.</li>
                        <li><i class="icono fas fa-phone"></i>{{ current_user.Telefono}}.</li>
                        <li><i class="icono fas fa-briefcase"></i>{{ current_user.Empresa}}.</li>
                        <li><i class="icono fas fa-building"></i>{{ current_user.Cargo}}.</li>
                    </ul>
                    <ul class="lista-datos">
                        <li><i class="icono fas fa-map-marker-alt"></i>{{ current_user.Area}}.</li>
                        <li><i class="icono fas fa-calendar-alt"></i>{{ current_user.Fecha_nacimiento}}.</li>
                        <li><i class="icono fa-solid fa-id-card"></i>{{ current_user.NDI}}.</li>
                        <li><i class="icono fa-solid fa-envelope"></i>{{ current_user.Email}}.</li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- Button trigger modal -->
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Actualizar datos</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="POST">
                            <label for="">Nombrecompleto</label>
                            <input type="text" class="form-control mb-3" placeholder="{{ current_user.fullname}}">
                            <label for="">Direccion</label>
                            <input type="text" class="form-control mb-3" placeholder="{{ current_user.Direccion}}">
                            <label for="">Telefono</label>
                            <input type="text" class="form-control mb-3" placeholder="{{ current_user.Telefono}}">
                            <label for="">Cargo</label>
                            <input type="text" class="form-control mb-3" placeholder="{{ current_user.Cargo}}">
                            <label for="">Area locativa</label>
                            <input type="text" class="form-control mb-3" placeholder="{{ current_user.Area}}">
                            <label for="">Fecha de nacimiento</label>
                            <input type="text" class="form-control mb-3" placeholder="{{ current_user.Fecha_nacimiento}}">
                            <label for="">Número de documento</label>
                            <input type="text" class="form-control mb-3" placeholder="{{ current_user.NDI}}">
                            <label for="">Correo electronico</label>
                            <input type="text" class="form-control mb-3" placeholder="{{ current_user.Email}}">
                            <div class="mb-3">
                                <label for="formFileSm" class="form-label"></label>
                                <input class="form-control form-control-sm" id="formFileSm" type="file">
                            </div> 
                            <div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary">Guardar cambios</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{%endblock%}